.submit-btn{
  background-color: #2663FF;
  height: 48px;
  width: 420px;
  font-size: 18px;
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #fff;
  background-color: #2663FF;;
  border-color: #2663FF;;
}
.register{
  margin-top: -20px;
}