.forget-password {
  .back-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .code-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // .gap {
    //   flex: 1;
    // }
  }
  .code-btn {
    // background: linear-gradient(90deg, #2663FF, #68affe);
    // color: #fff;
    border-radius: 4px;
    height: 40px;
    width: 110px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    color: #2663FF;

  }
  .counting {
    font-size: 14px;
    color: #b7b7b7;
    cursor: not-allowed;
    position: absolute;
    right: 0;
  }
}


